body {
	text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#mainwrap {
	width: 880px;
	margin: 0 auto;
	text-align: left;
}

#content ul li a{
	display: flex;
	list-style: none;
	margin: 0;
	text-decoration: none;
	color: #190b4d;
}

ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	position: relative;
	border: none;
}

.module-content {
	padding: 12px 19px;
} 

#header {
	background: #f00505e0;
	height: 90px;
	width:100%;
	color: white;
}

#hr {
	border-top: solid 4px #2e2828e0;
	padding: 1px;
	width: 100%;	
	position: relative; top:-1px;
}

.ol{
	text-decoration: none;
}

#banner {
	height: 195px;
	background: url(./img/giphy.gif);
}

#content {
	border-top: solid 10px #9384e9e0;
	border-bottom: solid 10px #9384e9e0;
	padding: 6px;
}

img.floatleft {
	margin-right: 16px;
	float: left;
}

#footer {
	padding: 16px;text-align:center;width:600px;margin:0 auto;
}

#copyright {
	text-align:center;
	margin-top:15px;
}

.container {
      display: flex;
	  position: relative;
      align-items: center;
      gap: 20px; /* espaço entre a imagem e o texto */
      max-width: 800px;      
    }

    .container img {
      width: 200px;
      height: auto;
      border-radius: 20px;
    }